.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %img.img-responsive.logo{src: "http://placehold.it/182x40"}



    / /.navbar-collapse
/ Main jumbotron for a primary marketing message or call to action
.alert-container
  .alert-empty
  .alert-danger.fade.in{id:"alert-session"}
    %p.text-center.text-small El email y/o password incorrectos
.container-fluid
  .body-list
    .row
      .col-md-6

        .restaurants

          .container-fluid.margen
            %h1.text-center Iniciar Sesion
            %hr
            .form-session.text-center


              = form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:class => 'form'}) do |f|

                .form-group
                  .row
                    .col-md-4
                      =f.label :email

                    .col-md-8
                      = f.email_field :email, :autofocus => true ,:class=> "form-control"
                .form-group
                  .row
                    .col-md-4
                      =f.label :password
                    .col-md-8
                      = f.password_field :password ,:class=> "form-control"

                %row
                  .col-md-3
                    = f.submit "Sign in", :class=> "btn btn-info "
                  .col-md-9
                    - if devise_mapping.rememberable?
                      = f.check_box :remember_me
                      = f.label "Remember me", class: "text-small"

      .col-md-6
        .jumbotron.text-center
          %h4 No estas registrado en Kiwii, Que esperas?

          %a{"data-toggle"=>"modal","data-target"=>"#sign_up", id:"btn-register"}
            %btn.btn.btn-success.btn-registro Crear una cuenta
          .img-thumbnail
            %a{href:"#"}
              %img.img-responsive{src: "http://placehold.it/300x200"}
              %h4 Mas informacion

%div.modal.fade{id: "sign_up" , tabIndex: "-1", role: "dialog" , "aria-labelledby" => "myModalLabel",  "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title.text-center{id: "myModalLabel"} Registro Kiwii

      .modal-body
        =render 'devise/registrations/new'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close