%h2 Sign up
=simple_form_for(resource, :as => resource_name,
           :url => registration_path(resource_name),
           :html => {:id => "sign_up_user"},
           :validate => true ) do |f|
  = devise_error_messages!
  %div{id: "error-messages"}
    %p nada
  %div
    =f.label :name
    %br
    =f.text_field :name, :autofocus => true , :validate => { :presence => true, :uniqueness => true }
  %div
    = f.label :email  , :validate => { :presence => true, :uniqueness => true }
    %br/
    = f.email_field :email
  %div
    = f.label :password
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div= f.submit "Sign up"
= render "devise/shared/links"